*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    background-color: #1C1C1C;
    font-size: 10px;
    font-family: sans-serif;
    height: 100vh;
}
.hero{
    color: #ffffff;
}
span{
    color: #4ADF86;
}
#generate-btn{
    padding: 10px 35px;
    color: #ffffff;
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: #10B981;
    border: none;
    border-radius: 10px;
}
#generate-btn:hover{
    background-color: crimson;
    cursor: pointer;
    transition: 0.5 ease-in-out;
}
section{
    background-color: #1F2937 ;
    display: block;
    width: 500px;
    margin: 0 auto;
    height: 65vh;
    margin-top: 100px;
    padding: 30px;
    
   
}
hr{
   border: 1px solid #2F3E53;;
    
}
section p{
    font-size: 1rem;
    color: #D5D4D8;
}

.btnpass{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.btn1{
    padding: 18px 60px;
    color: #10B981;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: #273549;
    color: #ffffff;
    border:none;
    font-size: 10px; 
}